.workExperiencesWrapper {
  display: flex;
  gap: 2rem;
  position: relative;
  padding-bottom: 50px;
  flex: 1;

  & hr {
    border: none;
    border-left: 1px solid var(--blue-secondary);
  }
}

.workExperiencesContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
