.educationsWrapper {
  position: relative;

  &:hover .educationsEditing {
    display: block;
  }
}

.educationsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.educationsEditing {
  position: absolute;
  top: 0;
  right: 0.5rem;
  display: none;
}

.educationItem {
  color: var(--gray-secondary);
}
