.educationNewItem {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-primary);
  margin-top: 1rem;
  padding: 1rem;
}

.educationToAdd {
  display: grid;
  grid-template-columns: 1fr 1fr 90px 48px 48px;
  gap: 1rem;
  flex: 1;
  align-items: center;
}
